.container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f4e6ec;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 0 2px 0 #23262f3b;
}

.card h3 {
  font-size: 15px;
}

.card p {
  font-size: 13px;
  color: #65676b;
}

.card__seen {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

body {
  background: url("../img/abstractbg.jpg");
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

textarea {
  width: 200px;
  min-height: 100px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  resize: vertical;
  background-color: #cbd2dc;
  box-shadow: 0 2px 0 #23262f3b;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 24px;
  min-width: 60px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 2px 0 #23262f3b;
  margin-top: 25px;
  background-color: #7c8aa4;
}
